.page-breadcrumb .breadcrumb .breadcrumb-item+.breadcrumb-item:before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 900;
}

.page-wrapper>.container-fluid,
.page-wrapper>.container-lg,
.page-wrapper>.container-md,
.page-wrapper>.container-sm,
.page-wrapper>.container-xl,
.page-wrapper>.container-xxl {
    min-height: calc(100vh - 163px);
}

.sidebar-nav ul .sidebar-item .sidebar-link i {
    width: 45px;
}

.form-control,
.customSelect__value {
    padding: .45rem .75rem;
}

.form-control,
.form-select {
    height: calc(1.5em + 0.9rem + 2px);
}

.form-group label .help {
    font-weight: 400;
    color: #afb5c1;
}

.customSelect {
    position: relative;
    padding: 0;
    min-height: calc(1.5em + 0.9rem + 2px);
    height: auto;
}

.customSelect__value {
    position: relative;
    z-index: 3;
    padding: 0.375rem 0.75rem;
    min-height: calc(1.5em + 0.9rem);
}

.customSelect__options {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    background: #fff;
    border: 1px solid #e9ecef;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, .05);
    z-index: 2;
    border-radius: 0 0 2px 2px;
    max-height: calc((1.5em + 1rem) * 5);
    overflow: auto;
    z-index: 9;
    visibility: hidden;
}

.customSelect__options.opened {
    visibility: visible;
}

.customSelect__options--top {
    top: unset;
    bottom: 100%;
}

.customSelect__option {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.customSelect__option:last-child {
    border-radius: inherit;
}

.customSelect__option:not(.customSelect__option--selected):hover {
    background: #7460ee;
    color: #fff;
}

.customSelect--multi .customSelect__value {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.customSelect__valueItem {
    font-size: .875em;
    padding: .25em .75em;
    background: #233242;
    color: #fff;
    border-radius: 1em;
    margin-right: 5px;
    margin-top: 3px;
}

.customSelect__valueItem>i {
    margin-left: 2px;
    cursor: pointer;
    transform: translate(2px, 1px);
}

.customSelect--multi .customSelect__value {
    padding-left: .375rem;
    padding-right: .375rem;
    padding-top: calc(.375rem - 3px);
}

.customSelect__value input {
    border: 0;
}

.customSelect--multi .customSelect__value input {
    margin-top: 3px;
}

.customSelect__optionsEmpty {
    color: #6a7a8c;
    padding: 0.5rem 0.75rem;
}

.customSelect__option--selected {
    color: #fff;
    background: #233242;
}

.delimiterHeader {
    padding: 0 15px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1em;
}

.page-item.active .page-link {
    background-color: #7460ee;
    border-color: #7460ee;
}

.mx-datepicker {
    display: block !important;
    width: 100% !important;
    font: inherit !important;
}

.mx-input {
    font-size: 0.875rem;
    background-color: #fff !important;
    border: 1px solid #e9ecef !important;
    border-radius: 0 !important;
    width: 100%;
}